html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container {
  max-width: 960px;
}

/*cards*/
.card-deck .card {
  min-width: 200px;
}

.card-body {
  padding: 1rem;
}


/*corner ribbon*/
.corner-ribbon{
  width: 210px;
  height: 50px;
  background: #e43;
  position: absolute;
  top: 25px;
  left: -50px;
  text-align: center;
  line-height: 17px;
  letter-spacing: 1px;
  color: #f0f0f0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.corner-ribbon.sticky{
  position: fixed;
}

.corner-ribbon.shadow{
  box-shadow: 0 0 3px rgba(0,0,0,.3);
}

.corner-ribbon.top-left{
  top: 25px;
  left: -50px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.corner-ribbon.top-right{
  top: 25px;
  right: -50px;
  left: auto;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.corner-ribbon.bottom-left{
  top: auto;
  bottom: 25px;
  left: -50px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.corner-ribbon.bottom-right{
  top: auto;
  right: -50px;
  bottom: 25px;
  left: auto;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/*ribbon colors */
.corner-ribbon.white{background: #f0f0f0; color: #555;}
.corner-ribbon.black{background: #333;}
.corner-ribbon.grey{background: #999;}
.corner-ribbon.blue{background: #39d;}
.corner-ribbon.green{background: #2c7;}
.corner-ribbon.turquoise{background: #1b9;}
.corner-ribbon.purple{background: #95b;}
.corner-ribbon.red{background: #FA0042;}
.corner-ribbon.orange{background: #e82;}
.corner-ribbon.yellow{background: #ec0;}

.ribbon-text{
  margin: 0;
  font-size: 22px; 
  font-weight: 500;
  padding-top: .7rem;
}

.ribbon-sm-text{
  margin: 0;
  font-size: 11px;
}

.bar-ribbon{
  /* width: 210px; */
  /* height: 70px; */
  /* background: #e43; */
  position: absolute;
  top: auto;
  bottom: 0px;
  right: 0px;
  left: 0px;
  text-align: center;
  line-height: 17px;
  letter-spacing: 1px;
  color: #f0f0f0;
  padding-bottom: 5px;
}

.fb-ribbon{
  width: 40px;
  height: 40px;
  /* background: #e43; */
  position: absolute;
  top: auto;
  bottom: 50px;
  right: 10px;
  text-align: center;
  color: #f0f0f0;
}

.fb-btn{
  font-size: 32px;
  color: #fff;
}

.social-icon{
  background-color: #F2F2F2;
}

.social-icon-ig{
  background-color: #F2F2F2;
  border-radius: 0.7rem !important;
}

.link-icon{
  font-size: 40px;
}

.link-icon.blue{color: #0093E0;}
.link-icon.red{color: #EB3836;}
.link-icon.green{color: #29B200;}

/*expand icon cover*/
.cover:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  background: #000000;
  opacity: 0;
  z-index: 0;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease; }
.cover .icon {
  position: absolute;
  top: 50%;
  right: 50%;
  width: 70px;
  height: 70px;
  content: '';
  z-index: 1;
  font-size: 20px;
  background: #fff;
  -webkit-transform: translate(50%, 50%);
  -ms-transform: translate(50%, 50%);
  transform: translate(50%, 50%);
  margin-top: -70px;
  opacity: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease; }
.cover:hover:after {
  opacity: .5; }
.cover:hover .icon {
  opacity: 1; }
